# Modelos treinados
*.pkl
*.joblib

# Arquivos grandes de dados
*.tgz
*.zip
*.tar.bz2
*.csv

# Ambientes virtuais
venv/
.env/

# Arquivos Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Pastas
*/datasets/